md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
    color: #fff;
    font-size: 1.2em;
}
md-input-container .md-input {
  color: #fff;
}
md-button {
  background-color: #5BFF3B;
  border: 1px solid #5BFF3B;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
    color: rgba(181, 63, 63, 0)!important;
  /*background-color: rgb(63,81,181);*/
   background-color: rgba(87, 250, 58, 0.87);
}
.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
   background-color: transparent;
}
md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default, md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
    color: rgb(0, 0, 0)!important;
    background-color:rgba(87, 250, 58, 0.87) !important;
    font-size: 1.3em!important;
}
md-card.md-default-theme, md-card {
    color: #fff!important;
    background-color: #011021!important;
}
md-menu-content.md-default-theme, md-menu-content {
    background-color: rgb(8, 8, 8) !important;
}
md-menu-item > .md-button span {
    color: #fff!important;
}
md-menu-content {
    max-height: 614px!important;
}


.md-button.md-icon-button {
    width: 100% !important;
    color: #fff!important;
}
.md-button.md-icon-button:hover {
    color: rgba(87, 250, 58, 0.87) !important;
}


table.md-table th.md-column.md-active, table.md-table th.md-column.md-active md-icon {
    color: #fff!important;
    font-size: 1em!important;
}
table.md-table th.md-column {
    /*color: #007bff!important;*/
    color: #fff!important;
    font-size: 1em!important;
}
table.md-table td.md-cell {
    color: #fff!important;
    font-size: .95em!important;
    border-top: 1px #2196F3 solid!important;
}
table.md-table th.md-column md-icon.md-sort-icon {
    color: #2196F3!important;
    /*opacity: 0;
    transition: -webkit-transform .25s,opacity .25s;
    transition: transform .25s,opacity .25s;*/
}



.md-button.md-default-theme.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-fab:not([disabled]), .md-button.md-fab:not([disabled]){
    background-color: rgba(87, 250, 58, 0.87);
    border-color: #fff;
}
.md-button.md-default-theme.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover {
    background-color: #fff;
    border-color: rgba(87, 250, 58, 0.87);
}





.md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
    color: rgba(16,108,200,0.87);
    border-color: #fff!important;
}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
   background-color: rgba(0,156,251,0.87);
}
.md-button.md-icon-button {
    margin-top: 6px !important;
    margin-right: 6px !important;
    margin-bottom: 0px !important;
    margin-left: 6px !important;
}
  md-toolbar.md-default-theme.md-hue-3:not(.md-menu-toolbar), md-toolbar.md-hue-3:not(.md-menu-toolbar) {
    background-color: rgb(245, 244, 238);
    color: rgba(0,0,0,0.87);
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(245, 244, 238);
}
md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: rgba(238, 238, 238, 0.534);
}


md-tabs-content-wrapper{
    background-color: rgba(0,0,0,0.38) !important;
}
md-tab-content > div{
    background-color: rgba(0,0,0,0.38) !important;
}



md-input-container.md-default-theme .md-input, md-input-container .md-input {
    border-color: rgb(245, 244, 238);
}

[disabled] md-input-container.md-default-theme .md-input, [disabled] md-input-container .md-input, md-input-container.md-default-theme .md-input[disabled], md-input-container .md-input[disabled] {
    border-bottom-color: transparent;
    color: rgba(0,0,0,0.38);
    background-image: linear-gradient(90deg,#eeebef 0,rgba(0,0,0,0.38) 33%,transparent 0);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,0.38) 100%);
}


.md-select-value .md-select-icon {
    color: rgb(27, 74, 187);
}

.md-select-value > span:not(.md-select-icon) {
    color: rgb(27, 74, 187);
}
md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: rgb(27, 74, 187);
}