



@font-face {
    font-family: 'ProximaNova-Light';
    font-style: normal;
    src: url(../fonts/ProximaNova-Light.ttf) format("truetype")}

@font-face {
    font-family: 'ProximaNova-Regular';
    font-style: normal;
    src: url(../fonts/ProximaNova-Regular.ttf) format("truetype")}

@font-face {
    font-family: 'ProximaNova-Black';
    font-style: normal;
    src: url(../fonts/ProximaNova-Black.ttf) format("truetype")}

@font-face {
    font-family: 'ProximaNova-Bold';
    font-style: normal;
    src: url(../fonts/ProximaNova-Bold.ttf) format("truetype")}

@font-face {
    font-family: 'Uni_Sans';
    font-style: normal;
    src: url(../fonts/Uni_Sans.ttf) format("truetype")}

@font-face {
    font-family: 'Uni_Sans-HeavyCapsItalic';
    font-style: normal;
    src: url(../fonts/Uni_Sans-HeavyCapsItalic.ttf) format("truetype")}





@font-face {
    font-family: RobotoRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"), 
    url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")}
@font-face {
    font-family: RobotoCondensedBold;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/RobotoCondensedBold/RobotoCondensedBold.woff) format("woff"), 
    url(../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf) format("truetype")}
@font-face {
    font-family: RobotoCondensedLight;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/RobotoCondensedLight/RobotoCondensedLight.woff) format("woff"), 
    url(../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf) format("truetype")}
@font-face {
    font-family: RobotoCondensedRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff) format("woff"), 
    url(../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf) format("truetype")}
@font-face {
    font-family: DearJoe2;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DearJoe2/DearJoe2.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/DearJoe2/DearJoe2.ttf) format("truetype")}
@font-face {
    font-family: KanitLight;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KanitLight/KanitLight.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/KanitLight/KanitLight.ttf) format("truetype")}
@font-face {
    font-family: KanitLightItalic;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KanitLightItalic/KanitLightItalic.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/KanitLightItalic/KanitLightItalic.ttf) format("truetype")}
@font-face {
    font-family: KanitMedium;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KanitMedium/KanitMedium.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/KanitMedium/KanitMedium.ttf) format("truetype")}
@font-face {
    font-family: KanitRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KanitRegular/KanitRegular.eot?#iefix) format("embedded-opentype"), 
    url(../fonts/KanitRegular/KanitRegular.ttf) format("truetype")}

