<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">

 	<title>AstorGame - eSports & Online Gaming platform</title>
 	<meta name="Author" content="AstorGame">
 	<meta data-property="og:site_name" content="AstorGame">
 	<meta data-property="og:type" content="website">
 	<meta data-property="og:title" content="AstorGame - eSports & Online Gaming platform">
 	<meta data-property="og:url" content="https://astorgame.com">
 	<meta data-property="og:image" content="https://astorgame.com/imgann/ironanngoldbet.jpg">
 	<meta data-property="og:description" content="eSport & Online Gaming platform – Decentralized games, sports betting and Casino using blockchain, smart contracts + Provably Fair">
 	<meta name = "keywords" content = "eSports, blockchain, cryptocurrency, tokens, Ethereum, astorgame, smart contract, bettings, casino, gaming, lottery, bitcoin, tokenmarket, coinmarketcap, btc">
    
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
<link rel="manifest" href="img/fav/site.webmanifest">
<link rel="mask-icon" href="img/fav/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">


	<link rel="stylesheet" href="css/bootstrapGrid.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/main.css">
 	<link rel="stylesheet" href="css/mediaqueries.css">

 	<link rel="stylesheet" href="css/fontawesome-all.css">
 	<script defer src="js/fontawesome-all.js"></script>
</head>

<body>

<!-- Top Block -->
	<section class="topbcgrd">
		<div class="container">
			<div class="row">
				<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="hidden-xs">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 top_menu">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Wallet</a></li>
								<li><a href="#" class="active">About us</a></li>
							</ul>		
						</div>
						<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4">
							<img src="img/logo.png" alt="logo" class="">
						</div>
						<div class="col-xs-4 col-sm-5 col-md-4 col-lg-4 top_menu">
							<button class="btn-lgn"><span>Login</span></button>
							<button><span>Join Now</span></button>
						</div>
					</div>

					<nav class="hidden-sm hidden-md hidden-lg">
						<img src="img/logo.png" alt="logo" class="">

						<input type="checkbox" id="btn-menu">
						<label for="btn-menu"><i class="fas fa-bars"></i></label>

						<div class="list-menu">			
							<a href="#">Home</a>
							<a href="#">Wallet</a>
							<a href="#">About us</a>
												
							<button class="btn-lgn"><span>Login</span></button>
							<button><span>Join Now</span></button>
						</div>
					</nav>
				</header>
			</div>
			<div class="row topbcgrd-content">
				<div class="container">
					<p>The World of <br> <span>Games</span></p>
					<p class="text-bottom">in one platform</p>
					<div class="text-light">
						Platform of eSport games and tournaments with streaming in-live & Gambling (Esports and Sport Betting, Casino and Lottery)
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- About us Block -->
	<section class="row block-about">
		
		<h1>About us</h1>

		<div class="col-lg-push-7 col-lg-5  block-about--content">
			<h5>AstorGame is a transparent and safe world of games. </h5>
			<p>The results may never be changed by our platform or by third parties.</p>
			<p>We solve the problem of cheats in the game, we guarantee 100% verifiable results by our clients, at any time, they can audit the results and verify their authenticity.</p>

			<p>An ittelegent contract will take your bet or participation in a game, if there is any inconvenience in the play or platform, the funds will be automatically returned to their respective owners.</p>

			<p>AstorGame Gaming platform ensures transparency, speed and security in transactions, do not wait for the payment of your prizes, these will be done instantly.  </p>
			</p>
		</div>
	</section>

<!-- Contact Block -->
	<section class="row block-contact">
		<div class="block-contact--content">
			<h1>Get In Touch</h1>
			<p>
				Interested in our products and services? Get to know more about our company by contacting us and following us on social media sites. We look forward to hearing from you!
			</p>
			<button><span>Email<i class="far fa-envelope icon_size"></i></span></button> 
		</div>
	</section>

<!-- Footer Block -->
	<footer class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="tw">
				<div class="col-lg-2">
					<i class="fab fa-twitter icon_size"></i>
				</div>
				<div class="col-lg-7">
					<p>Stay up to date with our news and follow us on Twitter</p>
				</div>
				<div class="col-lg-2">
					<button><span>Follow</span></button> 
				</div>
			</div>
			<div class="fb">
				<div class="col-lg-2">
					<i class="fab fa-facebook-square icon_size"></i>
				</div>
				<div class="col-lg-7">
					<p>Like our page and stay with us on Facebook</p>
				</div>
				<div class="col-lg-2">
					<button><span>Follow</span></button> 
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="foot-bottom text-center">Copyright  ©  2018  All Rights Reserved.</div>
		</div>
	</footer>
	
<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
</body>
</html>

