<section class="topbcgrd">
		<div class="container">
			<div class="row"  ng-include="'views/header.html'" >
			</div>
			<div class="row topbcgrd-content">
				<div class="container">
					<p>The World of <br> <span>Games</span></p>
					<p class="text-bottom">in one platform</p>
					<div class="text-light">
						Platform of eSport games and tournaments with streaming in-live & Gambling (Esports and Sport Betting, Casino and Lottery)
					</div>
				</div>
			</div>
		</div>
</section>
<section id="aboutus" class="row block-about">
		<h1>About us</h1>
		<div class="col-lg-push-7 col-lg-5  block-about--content">
			<h5>AstorGame is a transparent and safe world of games. </h5>
			<p>The results may never be changed by our platform or by third parties.</p>
			<p>We solve the problem of cheats in the game, we guarantee 100% verifiable results by our clients, at any time, they can audit the results and verify their authenticity.</p>

			<p>An ittelegent contract will take your bet or participation in a game, if there is any inconvenience in the play or platform, the funds will be automatically returned to their respective owners.</p>

			<p>AstorGame Gaming platform ensures transparency, speed and security in transactions, do not wait for the payment of your prizes, these will be done instantly.  </p>
			</p>
		</div>
</section>
