<section class="topbcgrd">
	<div class="container">
		<div class="row">
			<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="hidden-xs">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 top_menu">
						<ul>
							<li><a href="javascript:void(0)" ui-sref="/">Home</a></li>
							<li><a href="javascript:void(0)" ui-sref="wallet" >Wallet</a></li>
							<li><a href="javascript:void(0)" ui-sref="about" >About us</a></li>
						</ul>		
					</div>
					<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4">
						<img src="img/logo.png" alt="logo" class="">
					</div>
					<div class="col-xs-4 col-sm-5 col-md-4 col-lg-4 top_menu">
						<button ui-sref="login"  class="btn-lgn"  ><span>Login</span></button>
						<button ui-sref="register"  ><span>Join Now</span></button>
					</div>
				</div>
				<nav class="hidden-sm hidden-md hidden-lg">
					<img src="img/logo.png" alt="logo" class="">

					<input type="checkbox" id="btn-menu">
					<label for="btn-menu"><i class="fas fa-bars"></i></label>

					<div class="list-menu">			
						<a href="javascript:void(0)"  ui-sref="/" >Home</a>
						<a href="javascript:void(0)"  ui-sref="wallet" >Wallet</a>
						<a href="javascript:void(0)"  ui-sref="about" >About us</a>				
						<button  ui-sref="login" class="btn-lgn" ><span>Login</span></button>
						<button  ui-sref="register" ><span>Join Now</span></button>
					</div>
				</nav>
			</header>
		</div>
		<div class="row topbcgrd-content">
			<div class="container">
				<p>The World of <br> <span>Games</span></p>
				<p class="text-bottom">in one platform</p>
				<div class="text-light">
					Platform of eSport games and tournaments with streaming in-live & Gambling (Esports and Sport Betting, Casino and Lottery)
				</div>
			</div>
		</div>
	</div>
</section>
<section class="row block-items">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padnull">
				<a href="#">
					<div class="item item1">
						<div class="item-content">
							<span>Esports</span>
							<p>Enter and play with most advanced video games of the industry.</p>
							<button><span>Enter<i class="fas fa-arrow-right icon_size"></i></span></button>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padnull">
				<a href="#">
					<div class="item item2">
						<div class="item-content">
							<span>Betting</span>
							<p>Multi platform: sports betting, live betting, casino, poker, virtual games</p>
							<button><span>Enter<i class="fas fa-arrow-right icon_size"></i></span></button>
						</div>
					</div>
				</a>
			</div>	
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padnull">
				<a href="#">
					<div class="item item3">
						<div class="item-content">
							<span>Casino</span>
							<p>Play Online Casino Games for real money at Astorgame Casino.</p>
							<button><span>Enter<i class="fas fa-arrow-right icon_size"></i></span></button>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padnull">
				<a href="#">
					<div class="item item4">
						<div class="item-content">
							<span>Lottery</span>
							<p>Buy a ticket of the unique lottery that ensures verification of your raffles</p>
							<button><span>Enter<i class="fas fa-arrow-right icon_size"></i></span></button>
						</div>
					</div>
				</a>
			</div>
		</div>
</section>
<section class="row block-contact">
		<div class="block-contact--content">
			<h1>Get In Touch</h1>
			<p>
				Interested in our products and services? Get to know more about our company by contacting us and following us on social media sites. We look forward to hearing from you!
			</p>
			<button><span>Email<i class="far fa-envelope icon_size"></i></span></button> 
		</div>
</section>
