<section class="topbcgrd_login">
		<div class="container">
			<div class="row" ng-include="'views/header.html'"   >
			</div>
			<div class="row">
			 <div class="center-block topbcgrd_login-wrap">
				<div class="tabs col-lg-12 text-center">
					<button ui-sref="login"  class="btn-tab btn-tab-lt"><span>Login</span></button>
					<div class="down-arrow" style="display: inline-block;">
						<button ui-sref="register" class="btn-tab"><span>Sign Up</span></button>	
					</div>		
				</div>

				<div class="topbcgrd_login-img">
					<div class="row topbcgrd_login-content topbcgrd_login-content-reg">
							<div class="col-lg-3 hidden-xs"> </div>
							<div class="col-lg-6"> 
									<form name="loginForm" role="form" class="form-horizontal"  ng-submit="register()" >
											<md-input-container class="md-block">
												<label ng-bind-html="'field_name' | translate "></label>
												<input required type="text" name="name" ng-model="name" maxlength="100" />
												<div ng-messages="loginForm.name.$error" role="alert">
													<div ng-message-exp="['required']"  ng-bind-html="'requiredField' | translate " ></div>
												</div>
											</md-input-container>
											<md-input-container class="md-block">
												<label ng-bind-html="'field_email' | translate "  ></label>
												<input required type="email" name="user" ng-model="user" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
												<div ng-messages="loginForm.user.$error" role="alert">
													<div ng-message-exp="['required']" ng-bind-html="'login_err_email_1' | translate "  ></div>
													<div ng-message-exp="['maxlength', 'pattern']"  ng-bind-html="'login_err_email_2' | translate "  ></div>
												</div>
											</md-input-container>
											<md-input-container class="md-block">
												<label ng-bind-html =" 'field_pass' | translate" ></label>
												<input required type="password" name='pass' ng-model="pass" maxlength="50"  />
												<div ng-messages="loginForm.pass.$error" role="alert">
													<div ng-message-exp="['required', 'maxlength']"  ng-bind-html="'login_err_pass_1' | translate " ></div>
													<div ng-show="showerror" >
														{{ deserr }}
													</div>
												</div>
											</md-input-container>
											<md-input-container class="md-block">
												<span class="" ng-bind-html="'aceptar_terminos' | translate "  ></span>
											</md-input-container>
											<div layout="row" layout-align="center center">
												<button type="submit" ><span ng-bind-html="'register' | translate "   ></span></button>	
											</div>   
									  </form>
							</div>  
							<div class="col-lg-3 hidden-xs "> </div>	
					</div>
				</div>

				<div class="col-lg-12 text-center social-enter">
					<h3>{{ 'field_orsigupwith' | translate }}</h3>
					<a href="javascript:void(0)" ng-click="authenticate('facebook')" ><i class="fab fa-facebook-square"></i></a>
					<a href="javascript:void(0)" ng-click="authenticate('twitter')"  ><i class="fab fa-twitter-square"></i></a>
				</div>
			</div>
		  </div>
		</div>
	</section>

