<section class="topbcgrd_login"  ng-init="getList()">
	<div class="container"> 
		<div class="row" ng-include="'views/header.html'"  >
		</div>
<div class="row topbcgrd_login-wrap"  >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
	   <md-table-container>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="list.length==0 " >
			<div class="text-center profile_balance">
				 <span>No data found</span>
			     <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
		</div>
		<div class="to-pdf" ng-show="list.length>0 "  >
			<table md-table ng-model="selected" md-progress="promise" >
				<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="getList">
					<tr md-row>
						<th width="20%" md-column md-order-by="created_at"><span>{{ 'field_date' | translate }}</span></th>
						<th width="60%" md-column md-order-by="description"><span>{{ 'field_description' | translate }}</span></th>
						<th width="20%"  class="text-right"   md-column md-order-by="amount"><span class="text-right" > {{ 'field_amount' | translate }} </span></th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-select="item" md-select-id="id"  md-auto-select="options.autoSelect" ng-repeat="item in list | orderBy: query.order ">
						<td width="20%" md-cell class="text-left"  > {{item.created_at | amUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm'}} </td>
						<td width="60%" md-cell>{{item.description}}</td>
						<td width="20%" md-cell class="text-right"  > 
							<span class="tag {{item.style }}"   >{{item.aos}} {{item.amount}} {{item.des_typecoin}}</span> 
							<md-tooltip md-direction="bottom">{{item.des_operation}}</md-tooltip>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </md-table-container>
   </div>
  </div>
</section>