<section class="topbcgrd_login" ng-init="getList()" >
		<div class="container">
			<div class="row" ng-include="'views/header.html'"  >
			</div>
			<div class="row topbcgrd_login-wrap">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="text-left profile_balance">
						Available balance = <span>0 Astor</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="text-right ">
						<button ui-sref="deposit"  class="btn-small-1" ><span ng-bind-html="'mnu_deposit' | translate"   ></span></button>
						<button ui-sref="withdraw"  class="btn-small-1" ><span ng-bind-html="'mnu_withdraw' | translate" ></span></button>	
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"   >
					<md-table-container>
						<div class="to-pdf" ng-show="list.length>0 "  >
							<table md-table ng-model="selected" md-progress="promise" >
								<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="getList">
									<tr md-row>
										<th width="20%" md-column md-order-by="typecoin_id"><span>{{ 'field_typecoin' | translate }}</span></th>
										<th width="35%" md-column md-order-by="address"><span>{{ 'field_address' | translate }}</span></th>
										<th width="15%"  class="text-right" md-column md-order-by="total"><span>{{ 'field_total' | translate }}</span></th>
										<th width="15%"  class="text-right"   md-column md-order-by="available"><span class="text-right" >{{ 'field_available' | translate }}</span></th>
									</tr>
								</thead>
								<tbody md-body>
									<tr md-row md-select="item" md-select-id="id"  md-auto-select="options.autoSelect" ng-repeat="item in list | orderBy: query.order ">
										<td width="20%" class="paddingY"  md-cell>
											<div class="row">
												<div class="col-md-12" >	
													<img class="coin-wrapper"  ng-src="{{item.logo}}" alt="">
												</div>
											</div>
										</td>
										<td width="40%" md-cell>{{item.address}}</td>
										<td width="20%" md-cell class="text-right"  >{{item.total}}</td>
										<td width="20%" md-cell class="text-right"  >{{item.available}}</td>	
									</tr>
								</tbody>
							</table>
						</div>
					</md-table-container>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="container"  ng-show="ls_typecoins.length>0 " >
						<div class="row">
							<div class="col-md-4">
								<md-menu md-position-mode="target-right bottom" >
									<md-button class="md-icon-button dropdown-toggle notoggle font-link" ng-click="openMenu($mdMenu, $event)">
										<i class="fas fa-dollar-sign"></i><span class=""> {{ 'field_addtypecoin' | translate }} </span>
									</md-button>
									<md-menu-content width="4">
										<md-menu-item  ng-repeat="item in ls_typecoins"  >
											<md-button ng-click="add(item.id)" >
												<img class="icono-sm"  ng-src="{{item.logo}} " />
												<span>{{item.description}}</span>
										  </md-button>
									</md-menu-item>		
									</md-menu-content>
								</md-menu>
							</div>	
							<div class="col-md-8">
								<div ng-show="showerror"  >
									<span class="text-error"> {{ deserr }}  </span>
								</div>
							</div>
						</div>
					</div>
				</div>


				
			</div>
		</div>
	</section>


